<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzf.d240819.mapper.StudentMapper">

    <resultMap id="BaseResultMap" type="com.lzf.d240819.entity.Student">
            <id property="id" column="ID" jdbcType="BIGINT"/>
            <result property="name" column="NAME" jdbcType="VARCHAR"/>
            <result property="age" column="AGE" jdbcType="TINYINT"/>
            <result property="birth" column="BIRTH" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,NAME,AGE,
        BIRTH
    </sql>

  <insert id="batchAdd" parameterType="java.util.List">
    insert into student(name, age, birth) values
    <foreach collection="studentList" item="item" index="index" separator=",">
      (#{item.name}, #{item.age}, #{item.birth})
    </foreach>
  </insert>
</mapper>
